.card {
    border: 1px solid #ccc; 
    border-radius: 6px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
}


@media screen and (max-width: 786px) {
    .card{
        justify-content: center;
    }
}